*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: var(--color2);
}

:root{
    --color0: #1A1A1A;
    --color1: #431B1B;
    --color2: #F7F2E8;
}
header{
    
    background-image: url(./images/Imageheadermobile.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}
header nav{
width: 100%;
display: grid;
grid-template-columns:25% 32% 34% 9%;
align-items: center;

}
header nav h1{
    font-size:16px;
}
header nav button{
    width: 109px;
    height: 43px;
    border-radius: 25px;
    background-color: var(--color1);
    color: white;
    font-size: 15px;
    font-weight: medium;
}
header div{
    width: 90%;
    margin: auto;
}
header div h2{
    padding-bottom: 10px;
}
header div h1{
    padding-bottom:10px;
}
header div p{
    width: 60%;
}

section {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    
}
section h1{
    padding: 15px 0px;
}
section span{
    border-bottom: 1px solid #3C0E0E;
    width: 40px;
    margin: auto;
}
.box{
    padding: 20px 10px;
    text-align: center;
    display: flex;
    border-radius: 50px;
    width: 90%;
    flex-direction: column;
    color: white;
    margin: 30px auto;
}
.box#Capuccino{
    background-image: linear-gradient(  #F6C7C5, #C27D7A);
}
.box#CafeAoLeite{
    background-image: linear-gradient(#FAFAFA, #541511a2);
}
.box#CafePreto{
    background-image: linear-gradient(45deg, #541511 , #0A0909);
}
.box#secao3{
    background-image: linear-gradient(#F3C7C4, #541511);
}
.box#secao3 h1{
    margin: auto;
    font-size: 36px;
    font-weight: bold;
}
.box#secao3 p{
    margin: auto;
    text-align: center;
    font-size: 16px;
    width: 80%;
    margin-bottom: 60px;
}
.box button{
    margin: 20px auto;
    width: 80%;
    height: 43px;
    border-radius: 25px;
    background-color: white;
    font-weight: 600;
    font-size: 16px;
    color: black;
    font-size: 15px;
    font-weight: medium;
}
section#sobreNos{
   text-align: left;
   color:#4D1D1D;
}
#sobreNos> h2,h4,p{
    margin: auto;
    width: 90%;
}
section#sobreNos div{
    background-image: url(images/Background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
#sobreNos div h1{
    margin: auto;
    width: 90%;
}
#contato div{
    padding: 20px 10px;
    text-align: left;
    display: flex;
    width: 90%;
    flex-direction: column;
    color: white;
    margin: 0px auto;
}
#contato div#superior{
    border-radius: 50px 50px 0px 0px;
    background-image: linear-gradient( 45deg,#F3C7C4,#54151186);
}
#contato div#inferior{
    border-radius: 0px 0px 50px 50px;
    background-image: linear-gradient( 45deg,#ffffff,#8F423D);
}
#inferior div{
    display: flex;
    flex-direction: row;
}
footer{
    width: 90%;
    margin: auto;
}
footer h1{
    font-size: 20px;
    font-weight: 600;
}
footer p,a{
    color: #3c0e0e8e;
    font-weight: normal;
    font-size: 16px;
    width: 100%;
}
footer a{
    display: block;
    text-decoration: none;
}